.navbar-light .navbar-toggler {
	color: rgba(228, 228, 228, 0.705);
	border-color: rgba(65, 42, 42, 0.1);
}

.navbar-nav a {
	text-transform: uppercase;
	font-weight: 600;
	color: #000000;
	text-decoration: none;
	padding: 20px;
}



.navbar {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 1rem;
	box-shadow: 0px 8px 15px rgba(41, 41, 41, 0.089);
}


.navbar img {
	width: 90px;
	height: 30px;
}

.navbar-nav {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 0;
}

.navbar-nav .dropdown-menu {
	position: static;
	float: none;
}

.navbar-text {
	display: inline-block;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.navbar-collapse {
	flex-basis: 100%;
	align-items: center;
}

.navbar-toggler {
	padding: 0.25rem 0.75rem;
	font-size: 1.25rem;
	line-height: 1;
	background: transparent;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
	text-decoration: none;
}

.navbar-toggler-icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	content: "";
	background: no-repeat center center;
	background-size: 100% 100%;
}



.form-group {
	margin: 20px;
	padding: 30px;
	width: 950px;
	height: 1400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}



.form-group input {
	border-radius: 30px;
	float: left;
	margin: 5px;
}

.form-group select {
	border-radius: 30px;
	border: none;
	margin: 5px;

}

.check-group .btn {
	margin: 5px;
	align-items: center;
	justify-content: center;
	display: flex;
	float: left;
	width: 130px;

	border-radius: 30px;
}


.form-group .btn-final {
	border-radius: 30px;
	padding: 10px 50px;
	font-size: 18px;
	font-weight: bold;
	background-color: #5791ff;
	border: none;
	color: white;
	/* margin-left: 20px ; */
}

.form-group .btn-final:hover {
	background-color: #295fc2;
	color: #fff;
}

.p1-gradient-bg,
.primary-btn,
.primary-btn2:hover,
.single-feature:hover,
select .overlay-bg,
.single-footer-widget .click-btn,
.generic-banner {
	background-image: -moz-linear-gradient(0deg, #4567fc 0%, #2b6ade 100%);
	background-image: -webkit-linear-gradient(0deg, #4567fc 0%, #2b6ade 100%);
	background-image: -ms-linear-gradient(0deg, #4567fc 0%, #2b6ade 100%);
}

.p1-gradient-color,
.counter-left h2,
.footer-social a:hover i,
.single-footer-widget .bb-btn {
	background: -moz-linear-gradient(0deg, #4567fc 0%, #2b6ade 100%);
	background: -webkit-linear-gradient(0deg, #4567fc 0%, #2b6ade 100%);
	background: -ms-linear-gradient(0deg, #4567fc 0%, #2b6ade 100%);
	-webkit-text-fill-color: transparent;
}

.footer-area {
	margin-top: 80px;
	padding-top: 50px;
	height: 150px;
	background-color: #222222;
}

h6 {
	color: #fff;
	margin-bottom: 25px;
	font-size: 18px;
	font-weight: 600;
}

p {
	color: white;
}