.navbar-light .navbar-toggler {
	color: rgba(255, 255, 255, 0.5);
	border-color: rgba(65, 42, 42, 0.1);
}

.navbar-nav a {
	text-transform: uppercase;
	font-weight: 600;
	color: #000000;
	text-decoration: none;
	padding: 20px;
}



.navbar {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 1rem;
	box-shadow: 0px 8px 15px rgba(41, 41, 41, 0.089);
}


.navbar img {
	width: 90px;
	height: 30px;
}

.navbar-nav {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 0;
}

.navbar-nav .dropdown-menu {
	position: static;
	float: none;
}

.navbar-text {
	display: inline-block;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.navbar-collapse {
	flex-basis: 100%;
	align-items: center;
}

.navbar-toggler {
	padding: 0.25rem 0.75rem;
	font-size: 1.25rem;
	line-height: 1;
	background: transparent;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
	text-decoration: none;
}

.navbar-toggler-icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	content: "";
	background: no-repeat center center;
	background-size: 100% 100%;
}

body {
	background-color: #eee;
}

label.radio {
	cursor: pointer;
}

label.radio input {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	pointer-events: none;
}

label.radio span {
	padding: 4px 0px;
	border: 1px solid red;
	display: inline-block;
	color: red;
	width: 100px;
	text-align: center;
	border-radius: 3px;
	margin-top: 7px;
	text-transform: uppercase;
}

label.radio input:checked+span {
	border-color: red;
	background-color: red;
	color: #fff;
}

.ans {
	margin-left: 36px !important;
}

.btn:focus {
	outline: 0 !important;
	box-shadow: none !important;
}

.btn:active {
	outline: 0 !important;
	box-shadow: none !important;
}