.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(65, 42, 42, 0.1);
}

.navbar-nav a {
    text-transform: uppercase;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
    padding: 20px;
}



.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    box-shadow: 0px 8px 15px rgba(41, 41, 41, 0.089);
}


.navbar img {
    width: 90px;
    height: 30px;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}

.navbar-text {
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar-collapse {
    flex-basis: 100%;
    align-items: center;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    text-decoration: none;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}


.carousel button {

    position: absolute;
    z-index: 1;
    top: 40%;
    left: 36%;
    width: 350px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.849);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

}

.carousel button:hover {
    background-color: #0ebbff;
    box-shadow: 0px 15px 20px rgba(88, 211, 248, 0.4);
    color: #fff;
    transform: translateY(-7px);
}


.info-area .info-thumb {
    overflow: hidden;
    display: inline-block;
    
}

.img-fluid{
    height: 200px;
}
@media (max-width: 800px) {
    .info-area .info-content {
        text-align: center;
        padding: 80px 30px 80px 0;
    }
}

.info-area .info-content {
    box-shadow: 0px 0px 50px 0px rgba(157, 157, 157, 0.3);
    position: relative;
    height: 650px;

    margin-bottom: 80px;
    background: #fff;
    padding: 80px 100px 80px 40px;
}

@media (max-width: 575px) {
    .info-area .info-content {
        margin-top: 30px;
    }
}

.info-area .info-content:after {
    content: "";
    box-shadow: -35.355px 35.355px 50px 0px rgba(157, 157, 157, 0.3);
    position: absolute;
    right: 100%;
    top: 0;
    background: #fff;
    width: 70px;
    height: 100%;
}

@media (max-width: 991px) {
    .info-area .info-content:after {
        width: 50px;
    }
}

@media (max-width: 575px) {
    .info-area .info-content:after {
        display: none;
    }
}

@media (max-width: 991px) {
    .info-area .info-content {
        padding: 30px 30px 30px 0;
    }
}

@media (max-width: 575px) {
    .info-area .info-content {
        padding: 30px;
    }
}

.info-area .info-content h1 {
    line-height: 1.15em;
    margin-bottom: 30px;
}

.info-area .info-content .meta {
    color: #222;
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
}

.info-area .info-left {
    z-index: 2;
}

@media (max-width: 800px) {
    .info-area .info-left {
        margin-top: 0px;
        margin-bottom: 40px;
    }
}

.features ul li {
    list-style: square outside none;
    margin-bottom: 15px;
}

.features ul {
    padding-left: 18px;
}


.single-feature {
    align-items: center;
    justify-content: center;
    
    background-color: #bbbbbb;
    padding: 30px 30px 15px 30px;
    margin-top: 20px;
    border-radius: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .single-feature a {
    color: #222;
    text-decoration: none;
  }
  
  .single-feature:hover {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
  }
  
  .single-feature:hover a, .single-feature:hover .title .lnr {
    color: #fff;
    text-decoration: none;
  }
  
  .single-feature .title .lnr {
    text-decoration: none;
    color: #222;
    font-weight: 400;
    margin-right: 12px;
    font-size: 20px;
  }
  

  .p1-gradient-bg, .primary-btn, .primary-btn2:hover, .single-feature:hover, .video-area .overlay-bg, .single-footer-widget .click-btn, .generic-banner {
    background-image: -moz-linear-gradient(0deg, #4567fc 0%, #2b6ade 100%);
    background-image: -webkit-linear-gradient(0deg, #4567fc 0%, #2b6ade 100%);
    background-image: -ms-linear-gradient(0deg,  #4567fc 0%, #2b6ade 100%);
  }
  
 

  .footer-area {
    margin-top: 50px;
    padding-top: 50px;
    height: 150px;
    background-color: #222222;
}

h6 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 600;
}

p {
    color: white;
}
